* {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #79AAD6;
}

header {
    background-color: #fff;
    padding: 2px 10px;
    box-shadow: 5px 5px 5px black;
}

main { padding: 10px 0; }

#colour_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px black;
    /* border: 2px solid white; */
}

.colour_box {
    height: auto;
    width: auto;    
    text-align: center;
}